{% extends "base_page.html" %}

{% block content %}
<div class="container-fluid vh-100 d-flex justify-content-center mt-4">
  <div class="card" style="width: 500px; border-radius: 30px;">
    <div class="card-body">
      <h1 class="card-title text-center">Update Medicine Details</h1>
      <form method="POST" class="mt-4">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="d-flex justify-content-between mt-4">
          <button type="submit" class="btn btn-success" style="border-radius: 20px;">Save Changes</button>
          <a href="{% url 'medicinedetails_list' %}" class="btn btn-secondary" style="border-radius: 20px;">Cancel</a>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
